<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="img/download.png">
</head>
<link rel="stylesheet" href="./css/style.css">

<body>
    <div class="main-content">
        {{>header}}

        <p>{{message}}</p>

    </div>
    {{>footer}}
</body>

</html>